Repository notch8/iiif_print, pull requests merged in 2023-06, with the labels that each got.

#244 🎁 Adding IiifPrint::DerivativeRodeoService
  app/services/iiif_print/derivative_rodeo_service.rb
  lib/iiif_print/engine.rb
  lib/iiif_print/jobs/child_works_from_pdf_job.rb
  spec/services/iiif_print/derivative_rodeo_service_spec.rb
Labels: ignore-for-release, Derivative Rodeo

#250 🎁 Add derivative_rodeo_splitter
  app/services/iiif_print/derivative_rodeo_service.rb
  app/services/iiif_print/pluggable_derivative_service.rb
  docker-compose.yml
  iiif_print.gemspec
  lib/iiif_print.rb
  lib/iiif_print/data/fileset_helper.rb
  lib/iiif_print/jobs/child_works_from_pdf_job.rb
  lib/iiif_print/split_pdfs/derivative_rodeo_splitter.rb
  spec/iiif_print/split_pdfs/derivative_rodeo_splitter_spec.rb
  spec/services/iiif_print/derivative_rodeo_service_spec.rb
Labels: ignore-for-release, Derivative Rodeo

#253 🐛 Ensure `FileSet` id
  lib/iiif_print/blacklight_iiif_search/annotation_decorator.rb
  spec/factories/newspaper_page_solr_document.rb
  spec/iiif_print/blacklight_iiif_search/annotation_decorator_spec.rb
Labels: patch-ver

#254 🐛 I469 adv search then paginate
  app/helpers/iiif_print/iiif_print_helper_behavior.rb
  app/helpers/iiif_print_helper.rb
  lib/generators/iiif_print/install_generator.rb
  lib/generators/iiif_print/templates/helpers/iiif_print_helper.rb
Labels: bug, patch-ver, not end user testable
